* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  

  /* Header Section */
  .header-section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Header Responsiveness--- */
  @media (max-width: 998px){
    .header-section{
        height: 30%;
    }
    
  }
  
  /* Intro Section */
  .intro-section {
    background-color: white;
  }
  
  .rect-line {
    width: 200px; 
    height: 9px; 
    border-radius: 10px;
    background: linear-gradient(to right, #212121 55%, #FDA802 45%);
    margin: 5px auto; 
  }
  
  .intro-text {
    font-size: 1.1rem;
    color: #555;
  }
  
  .contact-btn {
    width: 180px;
    color: #fff;
    background-color: #212121;
    border-color: none;
    padding: 12px 24px;
    gap: 8px;
    border-radius: 20px;
    transition: ease-in 0.3s;
  }
  
  .contact-btn:hover {
    background-color: #FDA802;
    border-color: #212121;
  }

  /* what we do section */
  .what-we-do h2 {
    font-weight: bold;
    color: #212121;
  }
  
  .what-we-do p {
    font-size: 1rem;
    color: #555;
  }
  

/* Positioning the image at the bottom right */
.what-we-do .gold-line-img {
    position: absolute;
top: 190%;
    right: 45px;
    width: 120px;  
    height: auto; 
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .what-we-do .gold-line-img {
      width: 80px; 
      top: 165%;
      right: 20px;
    }
    .rect-line {
        width: 200px !important;
        text-align: left;
    }
  }
  
  
  /* what we do responsiveness---- */
  @media (max-width: 998px){
    .what-we-do h2{
        justify-content: center;
        align-items: center;
        align-self: center;
    }
  }

  .products h2 {
    font-weight: bold;
    color: #212121;
  }
  
  .reach h2 {
    font-weight: bold;
    color: #212121;
  }
  /* Footer section------- */
  footer h2{
    font-weight: bold;
  }
  footer ul li i {
    color: #f8f9fa; 
    font-size: 22px;
  }